/lung_cancer_prediction-ML-
/student_prediction/myvenv
/student_prediction(knn)/knn_model.pkl
/student_prediction(knn)/scaler.pkl
student_prediction(knn)/knn_model2.pkl
student_prediction(knn)/scaler2.pkl

student_prediction(knn)/knn_model7.pkl
student_prediction(knn)/scaler7.pkl

student_prediction(knn)/knn_model7.pkl
student_prediction(knn)/scaler7.pkl

student_prediction(knn)/knn_model4.pkl
student_prediction(knn)/scaler4.pkl

student_prediction(knn)/knn_model3.pkl
student_prediction(knn)/scaler3.pkl

student_prediction(knn)/knn_model5.pkl
student_prediction(knn)/scaler5.pkl
